<!DOCTYPE html>
<html>

<head>
    <base href="http://localhost/stephanieludgate/">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- PAGE settings -->
    <title>{% block page_title %}PHP Project{% endblock %}</title>
    <meta name="description" content="This is a the {% block page_description %}{% endblock %} Page">
    <meta name="author" content="Stephanie Ludgate">
    <!--Bootsrap 4 CDN-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!--Fontawesome CDN-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <!-- CSS dependencies -->
  <link rel="stylesheet" href="assets/styles.css" type="text/css">
</head>

<body style="background-color: transparent !important;">
    <nav class="navbar navbar-dark navbar-expand-lg">
        <!-- Add an icon here -->
        {% include 'base/menu.twig' %}
    </nav>
    <div class="container">
        <div class="row">
            <!-- page-specific content -->
            {% block content %}{% endblock %}
        </div>
    </div>
    <!-- <footer class="footer fixed-bottom" style="background-color:black"> -->
    <footer class="footer mt-4">
        <div class="container-fluid">
            <div class="row text-muted py-2">
                <small class="col-12 text-center text-muted">If you want to spy on all users click <a href="spymaster">HERE <i class="fas fa-search"></i></a></small>
                <p class="col-12 text-center">&copy; Copyright {{ "now"|date("Y") }} Stephanie Ludgate </p>
            </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>