html {
    background-image: url("gradient.png");
    background-repeat: repeat-x;
    background-attachment: fixed;
}

.container {
    max-width: 900px;
    margin: auto;
    margin-top: 0;
    color: white;
}

nav {
    background-color: rgb(30, 30, 30);
    box-shadow: 0 10px 20px 0 rgba(5, 2, 0, 0.2);
}

#loginForm {
    border: 2px solid white;
    border-radius: 10px;
}

.bg-black {
    background-color: black;
}

#crosswordPuzzle {
    border-width: 2px;
}
